*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f9fafc;
  color: #2e2e2e;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
#root, #__next {
  isolation: isolate;
}

/*
  CSS
*/
.wrapper {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}